.card-wrapper {
  display: inline-block;
	width: 250px;
}

.kind {
  padding: 2px 4px;
  font-weight: 300;
  font-size: 0.8em;
  border-radius: 2px;
}

.download-button {

}

.hidden { display:none; }

.download-link {
    cursor:pointer;
}
